<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>EmployeeManagment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>servlet.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeProfile</display-name>
    <servlet-name>EmployeeProfile</servlet-name>
    <servlet-class>servlet.EmployeeProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeProfile</servlet-name>
    <url-pattern>/EmployeeProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomePage</display-name>
    <servlet-name>HomePage</servlet-name>
    <servlet-class>servlet.HomePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePage</servlet-name>
    <url-pattern>/HomePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProFile</display-name>
    <servlet-name>ProFile</servlet-name>
    <servlet-class>servlet.ProFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProFile</servlet-name>
    <url-pattern>/ProFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>servlet.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfile</display-name>
    <servlet-name>EditProfile</servlet-name>
    <servlet-class>servlet.EditProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfile</servlet-name>
    <url-pattern>/EditProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmplyoeeProfile</display-name>
    <servlet-name>UpdateEmplyoeeProfile</servlet-name>
    <servlet-class>servlet.UpdateEmplyoeeProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmplyoeeProfile</servlet-name>
    <url-pattern>/UpdateEmplyoeeProfile</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ValidationFilter</display-name>
    <filter-name>ValidationFilter</filter-name>
    <filter-class>filter.ValidationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ValidationFilter</filter-name>
    <url-pattern>/SignUp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AdminHomePage</display-name>
    <servlet-name>AdminHomePage</servlet-name>
    <servlet-class>servlet.AdminHomePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHomePage</servlet-name>
    <url-pattern>/AdminHomePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProject</display-name>
    <servlet-name>AddProject</servlet-name>
    <servlet-class>servlet.AddProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProject</servlet-name>
    <url-pattern>/AddProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogOut</display-name>
    <servlet-name>AdminLogOut</servlet-name>
    <servlet-class>servlet.AdminLogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogOut</servlet-name>
    <url-pattern>/AdminLogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProject</display-name>
    <servlet-name>ShowProject</servlet-name>
    <servlet-class>servlet.ShowProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProject</servlet-name>
    <url-pattern>/ShowProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectDetails</display-name>
    <servlet-name>ProjectDetails</servlet-name>
    <servlet-class>servlet.ProjectDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectDetails</servlet-name>
    <url-pattern>/ProjectDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignProjectToEmployee</display-name>
    <servlet-name>AssignProjectToEmployee</servlet-name>
    <servlet-class>servlet.AssignProjectToEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignProjectToEmployee</servlet-name>
    <url-pattern>/AssignProjectToEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeShowProject</display-name>
    <servlet-name>EmployeeShowProject</servlet-name>
    <servlet-class>servlet.EmployeeShowProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeShowProject</servlet-name>
    <url-pattern>/EmployeeShowProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeEmployeeProjectStatus</display-name>
    <servlet-name>ChangeEmployeeProjectStatus</servlet-name>
    <servlet-class>servlet.ChangeEmployeeProjectStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeEmployeeProjectStatus</servlet-name>
    <url-pattern>/ChangeEmployeeProjectStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeEmployeeProjectStatusToEnd</display-name>
    <servlet-name>ChangeEmployeeProjectStatusToEnd</servlet-name>
    <servlet-class>servlet.ChangeEmployeeProjectStatusToEnd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeEmployeeProjectStatusToEnd</servlet-name>
    <url-pattern>/ChangeEmployeeProjectStatusToEnd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProjectData</display-name>
    <servlet-name>SearchProjectData</servlet-name>
    <servlet-class>servlet.SearchProjectData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProjectData</servlet-name>
    <url-pattern>/SearchProjectData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllEmployeeToAssignProject</display-name>
    <servlet-name>ShowAllEmployeeToAssignProject</servlet-name>
    <servlet-class>servlet.ShowAllEmployeeToAssignProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllEmployeeToAssignProject</servlet-name>
    <url-pattern>/ShowAllEmployeeToAssignProject</url-pattern>
  </servlet-mapping>
</web-app>